body, div, h1, {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%
  vertical-align: middle;
}

.cell { 
  cursor: cell;
}

.header {
  position: fixed;
  text-align: left;
  top: 0;
  margin-top: 0px;
  margin-left: 10px;
  height: 0.01vh;
  width: 235px;
  padding-top: 0px;
  padding-right: auto;
  padding-bottom: 29px;
  padding-left: auto;
  /* background-color: #000000;
  border: 2.4px solid black;
  border-radius: 25px; */
}

h1 {
  /* font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal; */
  font-family: nimbus-sans-extended, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #000000;
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
  line-height: 0.9em;
}

body {
  background-color: #f1f0f0;
  background-image: url("GIFS/IncreasingHomogeneity.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.footer {
   position: relative;
   text-align: center;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 8em;
   background-color: #f1f0f0;
   color: #000000;
   margin: 36px;
 }

.shadow {
  float: none;
  margin-bottom: 0rem;
  vertical-align: bottom;
  box-shadow: 0rem 0.6rem 10px rgba(0, 0, 0, 0.44);
}

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  padding: 0;
}

.column {
  width: 100%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.column img {
  margin-top: 12em;
}

/* .marquee {
  height: 58px;
  overflow: hidden;
  position: sticky;
  background: #ffffff;
  top: 0;
} */

/* .marquee h2 {
  font-family: 'neue-haas-grotesk-text', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.4em;
  color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 8px;
  padding: 0px;
  line-height: 1.1;
  text-align: center;
  /* Starting position */
 /* -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  /* Apply animation to this element */
 /* -moz-animation: marquee 60s linear infinite;
  -webkit-animation: marquee 60s linear infinite;
  animation: marquee 60s linear infinite;
} */

/* Move it (define the animation) */
/* @-moz-keyframes marquee {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes marquee {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}

@keyframes marquee {
  0%   {
  -moz-transform: translateX(100%); /* Firefox bug fix */
 /* -webkit-transform: translateX(100%); /* Firefox bug fix */
 /* transform: translateX(100%);
  } */

/* 100% {
  -moz-transform: translateX(-100%); /* Firefox bug fix */
 /* -webkit-transform: translateX(-100%); /* Firefox bug fix */
 /* transform: translateX(-100%);
 }
} */
